div.container
    div.row
        div.s12.col.center-align
            p made with 
                span &#x2764; 
                | by 
                a(href="http://www.pixelfor.me/",target="_blank") kaytrance
            