div.slider
    ul.slides
        li
            img(src="/img/pic1.jpg")
            div.caption.right-align
                h3 ChatikO
                h5 Simpliest private webchat you'll EVER find.
        li
            img(src="/img/pic2.jpg")
            div.caption.right-align
                h3 Privacy
                h5 Create new or join existing
                p ChatikO is based on the concept of rooms - a private virtual place that nobody is aware of.
        li
            img(src="/img/pic3.jpg")
            div.caption.right-align
                h3 Secure & hidden
                h5 Each room is password-protected
                p Share the room name and password with people you want to chat and start chatting privately.
        li
            img(src="/img/pic4.png")
            div.caption.right-align
                h3 Minimal, Sleek & Modern
                h5 And looks AWESOME!